<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309378507599-2pbr5q4ba400986n422kjtmeqe3vap9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309378507599-2pbr5q4ba400986n422kjtmeqe3vap9f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309378507599-kdnbca4q930fh1emqsmpi1unr93teq1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjDl_zZHqGtPID7l4QTE8cegY0XcyAB8I</string>
	<key>GCM_SENDER_ID</key>
	<string>309378507599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.energytrading.dapp</string>
	<key>PROJECT_ID</key>
	<string>energytradingauction</string>
	<key>STORAGE_BUCKET</key>
	<string>energytradingauction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309378507599:ios:219645d786fc8cdc815b3a</string>
</dict>
</plist>